[tool.poetry]
name = "mause_rpc"
version = "0.0.18"
description = "A dumb as hell rpc implementation built on rabbitmq"
authors = ["Elliana May <me@mause.me>"]
repository = "https://github.com/Mause/rpc"
keywords = ["rabbitmq", "rpc"]
readme = "README.md"
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
dill = "^0.3.1"
pika = "^1.1.0"
retry = "^0.9.2"

[tool.black]
skip_string_normalization=true

[tool.poetry.dev-dependencies]
pytest = "^6.2.1"
mypy = "^0.812"
black = "^21.4b0"
flake8 = "^3.8.4"
isort = "^5.8.0"
poetry-publish = "^0.4.0"
semver = "^2.13.0"
pre-commit = "^2.11.1"
pdbpp = "^0.10.2"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
